<?xml version="1.0"?>
<!--
/**
 * Copyright © MagenX. All rights reserved.
 * SPDX-License-Identifier: MIT
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="magenx_product_feed" frontName="magenx_product_feed">
            <module name="Magenx_ProductFeed"/>
        </route>
    </router>
</config>
